html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Varela Round';
  color: white;
  position: relative;
}

header {
  height: 80px;
  z-index: 10;
  position: relative;
  overflow: visible;
}

header .container {
  width: 960px;
  margin: auto;
}

#logo {
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
}

nav {
  float: right;
}

nav .link {
  display: inline-block;
  vertical-align: top;
  padding: 28px 12px;
}

nav .link a {
  color: #444;
  text-decoration: none;
}

nav .link:hover {
  cursor: pointer;
}

nav .link:hover a {
  color: #CF5A37;
}

#banner-container {
  height: 100%;
}

#banner {
  background-color: #ddd;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

#hi {
  height: 200px;
  width: 200px;
}